$primary: #e3c600;
$secondary: #a8d0b5;
$background: #1d1b16;
$surface: #1d1b16;
$on-primary: #393000;
$on-secondary: #133724;
$on-surface: #e7e2d9;
$secondary-container: #4d472a;
$on-secondary-container: #ede3bc;
$outline: #969181;
$surface-variant: #4a4739;
$on-surface-variant: #ccc6b5;