$primary: #6d5e00;
$secondary: #426650;
$background: #fffbf7;
$surface: #fffbf7;
$on-primary: #ffffff;
$on-secondary: #ffffff;
$on-surface: #1d1b16;
$secondary-container: #c4ecd0;
$on-secondary-container: #002110;
$outline: #7c7768;