@use "sass:string";
@use "dark.theme";

@use "@material/theme" with (
  $primary: dark.$primary,
  $secondary: dark.$secondary,
  $background: dark.$background,
  $surface: dark.$surface,
  $on-primary: dark.$on-primary,
  $on-secondary: dark.$on-secondary,
  $on-surface: dark.$on-surface,
);

@use "@material/typography" with (
  $font-family: string.unquote("JetBrains Mono, Arial, Helvetica, sans-serif")
);

@use "@material/shape" with (
  $small-component-radius: 36px,
  $medium-component-radius: 12px,
  $large-component-radius: 36px
);

@use "@material/icon-button/mdc-icon-button";
@use "@material/top-app-bar";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/button";
@use "@material/button/styles";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/card";
@use "md3";

@include theme.core-styles;
@include typography.core-styles;
@include textfield.core-styles;
@include card.core-styles;

body {
  height: 100%;
  margin: 0;
  padding: 0;
  @include theme.property(background-color, background);
  @include theme.property(color, on-surface);
}

// Top App Bar
.mdc-top-app-bar {
  @include top-app-bar.fill-color-accessible(background);
}

// Main Wrapper
.main-wrapper {
  display: flex;
}

#parent-wrapper {
  justify-content: center;
}

.main-wrapper--align-content {
  align-items: center;
  flex-direction: column;
}

.main-wrapper__content {
  flex: 1;
  width: 100%;
  max-width: 1536px;
  padding-top: 48px;
}

// Title Wrapper
#title-wrapper {
  .title {
    margin: 0;
  }
}

// Calculation Wrapper
#calculation-wrapper {
  flex-direction: column;
  margin-top: 48px;
  align-items: center;

  .mdc-text-field:not(:last-of-type) {
    margin-bottom: 24px;
  }
}

#calc-button {
  //width: fit-content;
}

#output-card {
  width: 38vw;
  min-width: 288px;
  max-width: 384px;

  .mdc-card__headline {
    width: 96%;
  }
}