<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap" rel="stylesheet">
<!--  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">-->
</head>
<body>
<header class="mdc-top-app-bar mdc-top-app-bar--fixed">
  <div class="mdc-top-app-bar__row">
    <section
        class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <span class="mdc-top-app-bar__title"><%= htmlWebpackPlugin.options.title %></span>
    </section>
  </div>
</header>
<main class="main-wrapper mdc-top-app-bar--fixed-adjust md3" id="parent-wrapper">
  <div class="main-wrapper main-wrapper--align-content main-wrapper__content">
    <!-- Title Wrapper -->
    <div class="main-wrapper main-wrapper--align-content" id="title-wrapper">
      <div class="mdc-card mdc-card--filled" id="output-card">

          <div class="mdc-card__text-section">
            <h5 class="mdc-card__headline">Time Addition</h5>
            <h6 class="mdc-card__subhead">Adds Time</h6>
          </div>
          <div class="mdc-card__text-section">
            <p class="mdc-card__supporting-text">Output</p>
          </div>
          <div class="mdc-card__actions">
            <button class="mdc-button mdc-button--unelevated mdc-card__action mdc-card__action--button" id="calc-button">
              <span class="mdc-button__ripple"></span>
              <span class="mdc-button__focus-ring"></span>
              <span class="mdc-button__label">Calculate</span>
            </button>
        </div>
      </div>
    </div>
    <!-- Calculation -->
    <div class="main-wrapper" id="calculation-wrapper">
      <label class="mdc-text-field mdc-text-field--outlined" id="base-time-text-field">
        <span class="mdc-notched-outline">
          <span class="mdc-notched-outline__leading"></span>
          <span class="mdc-notched-outline__notch">
            <span class="mdc-floating-label" id="base-time-label">Base Time</span>
          </span>
          <span class="mdc-notched-outline__trailing"></span>
        </span>
        <input aria-labelledby="base-time-label" class="mdc-text-field__input"
               id="base-time" type="text">
      </label>
      <label class="mdc-text-field mdc-text-field--outlined" id="add-time-text-field">
        <span class="mdc-notched-outline">
          <span class="mdc-notched-outline__leading"></span>
          <span class="mdc-notched-outline__notch">
            <span class="mdc-floating-label" id="add-time-label">Add Time</span>
          </span>
          <span class="mdc-notched-outline__trailing"></span>
        </span>
        <input aria-labelledby="add-time-label" class="mdc-text-field__input"
               id="add-time" type="text">
      </label>
    </div>
  </div>
</main>
</body>
</html>